<body>
    <div class="container">
        <form asp-action="Generate" asp-controller="Home" method="post">
            <h1>Random passcode (passcode #@ViewBag.Count)</h1>
            <div class="box">
                @ViewBag.output
            </div>
            <input type=submit value="Submit">
        </form>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        console.log("*******************************");
        $("form").submit(function(event){ 
            event.preventDefault();
            $.ajax({              
                url: "/",
                method: "POST"
            })
            .done(function(response){
                $("body").html(response);
            });

        });
    });
    
</script>
</body>